@import "./null.scss";

.wrapper {
	background-color: #fff;
}
.block {
	&__row {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		

		border: 20px solid #ffff00f0;
		margin: 20px;
	}

	&__column {
		border: 20px solid;
		color: darkorchid;
		flex-basis: 300px;
		flex-grow: 1;
		flex-shrink: 1;
		&:nth-child(2) {
			.block__item {
				font-size: 80px;
			}
			
		}
	}
	// .block__column_1 {
	// 	align-self: flex-start;
		
	// }
	// .block__column_2 {
		
	// }
	// .block__column_3 {
	// 	align-self: flex-end;
		
	// }
	&__item {
		background-color: #20df9d;
		padding: 50px;
		font-size: 50px;
		color: #fff;
		font-weight: 700;
		text-align: center;
	}
}
