* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 18px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------------------------------------------*/
body {
	
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: white;
	/* background: url('../dist/assets/img/annie_spratt_unsplash.png' ) 0 0 repeat; */
	padding: 30px;
		
}
.block {
margin: 0 0 20px 0;
}
.block:hover {
	background: orange;

}


.block p {
font-size: 18px;
line-height: 24px;
margin: 0 0 20px 0;
}
/* .block  span  {
color:blanchedalmond
} */
.block  p  span {
color:blanchedalmond;
}
.block p:nth-child(3){
	text-transform: uppercase;
}

 .link {
color: red;
}
.link:visited{
	color:aqua;
}
.link:hover {
	color: blue;
	text-decoration: underline;
}
.link:active {
	color: darkgoldenrod;
}




/* .psr {
} */

.textinp {
	border: 2px solid red;
	height: 30px;
	padding: 0 15px;
	font-size: 18px;
	color: black;
	width: 300px;
	margin: 0 0 30px 0;
}
.textinp:focus, .textbtn:focus {
	box-shadow: 0 0 25px rgba( 255, 0, 0, 0.7);
}
.textbtn {
	display: block;
	border: 2px solid red;
	height: 30px;
	text-align: center;
	font-size: 18px;
	width: 300px;
	margin: 0  0 30px  0;
	background: greenyellow;
	text-transform: uppercase;
	color: black;
}

.textbtn:visited{
	background-color:rgb(227, 192, 14);
}
.textbtn:hover{
	background-color: rgb(40, 169, 14) ;
}
.textbtn:active{
	background-color: blueviolet;
}

.list {
margin: 20px 0 0;

}
.list .item {
	font-size: 18px;
	color:blanchedalmond;
	margin:  5px 0  5px;
	padding: 0 0 0 15px;
	background: url('../dist/assets/icons/li.svg') 0 5px no-repeat;
} 
.list li:first-child { 
	color:green;
}
.list .item:nth-child(3) {
	color: deeppink;
}
.item:last-child{
color:darkviolet;
font-weight: 800;
}

.item:nth-child(even){
	color:darksalmon;
	font-weight: 900;
	font-style: italic;
}