@import "./null.scss";

.about {

	&__body {
		max-width: 823px;
		margin: 0 auto;
	}

	&__header {
		margin: 0 0 40px 0;
	}

	&__title {
		margin: 30px;
		position: relative;
		text-align: center;
		&::after{
			content:'';
			position: absolute;
			width: 50px;
			bottom: 0;
			height: 1px;
			background-color: #000;
			margin: 0 0 -25px 0;
			left: 47.5%;
		}
		
	}

	&__text {
		max-width: 668px;
		font-size: 18px;
		font-weight: 300;
		text-align: center;
		line-height: 1.3;
		margin: 0 auto;
		color:gray;
	}

	&__row {
		display: flex;
		margin: 0 -15px;
	}

	&__column {
		//flex-direction: row;
		flex: 0 0 33.333%;
		padding: 0 0 15px;
	}
}
.title {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 8.95px;
	font-weight: 700;
	
}


.item-about {

	&__icon {
		width: 49px;
		height: 49px;
		border-radius: 50%;
		border: #000 2px solid;
		display: flex;
		align-items: center;
		justify-content: center;
		& img:hover{
			width: 80px;
		}
	}

	&__title {
		text-align: center;
		font-size: 22px;
		text-transform: uppercase;
		letter-spacing: 3.5px;
		margin: 0 0 35px 0;
	}

	&__text {
		text-align: center;
	}
}
